/* Ion.CheckRadio, Green Skin
// Version 2.0.0
//
// © Denis Ineshin, 2015
// https://github.com/IonDen
// ===================================================================================================================*/

.icr-label {
    padding-right: 2px;
    margin: 0 5px 5px 0;
    font-size: 14px; line-height: 18px;
}

.icr-item {
    width: 23px; height: 23px;
    background: url(../images/icr-green-skin.png) no-repeat;
}

.icr-label.focused .icr-item:after {
    position: absolute;
    display: block;
    content: "";
    top: -2px; left: -2px;
    border: 1px dotted rgba(0, 0, 0, 0.3);
}
.icr-label.focused .type_checkbox:after {
    width: 25px; height: 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.icr-label.focused .type_radio:after {
    width: 22px; height: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}
