/* Ion.CheckRadio, Cloudy Skin
// Version 2.0.0
//
// © Denis Ineshin, 2015
// https://github.com/IonDen
// ===================================================================================================================*/

.icr-label {
    padding-right: 2px;
    margin: 0 5px 5px 0;
}

.icr-item {
    width: 18px; height: 18px;
    background: url(../images/icr-cloudy-skin.png) no-repeat;
}

.icr-label.disabled {
    opacity: 0.4;
}

.icr-label.focused .icr-item:after {
    position: absolute;
    display: block;
    content: "";
    top: -1px; left: -1px;
    width: 18px; height: 18px;
    border: 1px dotted rgba(0, 0, 0, 0.3);
}
.icr-label.focused .type_checkbox:after {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.icr-label.focused .type_radio:after {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
