
::selection {
    color: #fff;
    background: #009ca5;
}

::-moz-selection {
    color: #fff;
    background: #009ca5;
}

::-webkit-selection {
    color: #fff;
    background: #009ca5;
}

a:hover,
a:focus, a.link {
    color: #383b3f;
}

.search-full, .search-input {
    background: #009ca5;
}

.search-close {
    color: #009ca5;
}

.btn-primary, .btn-primary, .product:hover .add-fav:hover, .product:hover .add-fav.active {
    background-color: #089FA8;
    color: #FFFFFF;
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background: #2c88c5;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #2D3E50;
    border-color: #2D3E50;
    color: #FFFFFF;
}

.navbar-top {
    background: #303337;
}

.footer-bottom{
  background: #303337 !important;
}

.navbar-tshop {
    background: #383b3f;
}

.site-color {
    color: #383b3f !important;
}

.navbar-nav > li > a {
    color: #fff;
}

.nav > li.active, .nav > li > a:hover, .nav > li > a:focus, .nav > li:hover > a {
    background: #009ca5;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .cartMenu:hover > a.dropdown-toggle {
    background: #009ca5;
}

.dropdown-menu {
    border-top: solid #009ca5;
}

.search-box:hover .form-control {
    background: #383b3f;
}

.search-box:hover .btn-nobg {
    color: #383b3f;
}

.searchInputBox .search-btn {
    color: #fff;
}

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: rgba(149, 165, 166, 0.7) !important;
}

.action-control a:hover, .action-control a.active {
    color: #fff;
    background: #009ca5;
}

.product:hover, .featuredImgLook2 .inner:hover {
    border: 1px solid #383b3f;
}

.subCategoryList .thumbnail:hover {
    border: 1px solid #383b3f;
}

.pager2 a {
    border: 1px solid #383b3f;
}

.pager2 a.selected {
    background: #383b3f;
}

.btn-site, .newsLatterBox .btn {
    background: #089fa8;
}
.btn-discover:hover, .btn-site:hover, .newsLatterBox .btn:hover {
    background: #2D3E50;
}

.full {
    width: 100%;
}

.footer a:hover {
    color: #383b3f;
}

.footer {
    /*border-top: solid 3px #383b3f;*/
}

.modal-header {
    background: #383b3f;
}

.form-control:focus {
    border-color: #383b3f;
}

.new-product {
    background: rgba(149, 165, 166, 0.95) !important;
}

#pager a.cycle-pager-active {
    background: rgba(149, 165, 166, 0.5);
}

/* tree menu */

.nav.tree > li.active, .nav.tree > li > a:hover, .nav.tree > li > a:focus, .nav.tree > li:hover > a {
    background: none;
    color: #009ca5;
}

.nav.tree .open-tree > a, .nav.tree .open-tree > a:hover, .nav.tree .open-tree > a:focus {
    background: none;
    font-weight: bold;
    color: #009ca5;
}

.nav.tree ul.category-level-2 .open-tree > a, .nav.tree ul.category-level-2 .open-tree > a:hover, .nav.tree ul.category-level-2 .open-tree > a:focus {
    background: none;
    font-weight: normal;
    color: #383B3F;
}

.panel-default > .panel-heading {
    border-top: 4px solid #383b3f;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a {
    background: #BFC9CA;
}

.nav-tabs {
    border-bottom: 3px solid #BFC9CA;
}

.socialIcon a:hover {
    background: #383b3f;
}

.cart-actions button, .cart-actions .wishlist {
    background: none repeat scroll 0 0 #383b3f;
    border: 2px solid #009ca5;
}

.cart-actions button:hover {
    background: #fff;
    color: #009ca5;
    border: solid 2px #383b3f;
}

.sp-thumbs a:hover, .sp-thumbs a:active, .sp-current, sp-current:visited {
    border: 2px solid #383b3f !important;
}

.promo-1 {
    background: none repeat scroll 0 0 #009ca5;
}

@media (max-width: 767px) {
    .miniCartFooter {
        background: #009ca5 !important;
    }
}

#pager2 span.cycle-pager-active {
}

#pager2 span.cycle-pager-active {
    background: #009ca5 !important;
}

#pager2 span {
    border: 2px solid #009ca5
}

.orderStep li.active a {
    background: #383b3f;
}

.orderStep li.active a:after {
    border-top-color: #383b3f !important;
}

darkcoilor {
    background: #2c88c5;
}

citecolor {
    color: #383b3f !important;
}


.empty-cart-msg {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  padding: 70px 0;
}

.productFilter .filterBox {
  width:100%;
}
.minict_wrapper, .minict_wrapper > span {
  cursor: pointer;
}
.has-error .minict_wrapper {
    border-color: #A94442;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.productFilter .change-order .minict_wrapper > span {
  width:180px;
}
.category-level-2 li a.dropdown-tree-a {
  font-weight:bold !important;
}

.shipping-form-item, .payment-form-item {
  margin-top: -5px;
  margin-bottom: -5px;
  cursor: pointer;
}

.shipping-form-item img, .payment-form-item img, .order-confirm-shipping img, .order-confirm-payment img {
  max-width:100px;
  max-height:40px;
  float:none;
  margin:0 auto;
}

.cart-summary {
  margin-right:20px;
  font-size: 22px;
  line-height: 25px;
}

form a {
  color:#78828D;
}

#accordionNo .panel-heading h1 {
  line-height: 20px;
}
.img-maxheight{
	max-height: 250px;
}

.table-wipers-rel h2{
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.myAccountList li{
  list-style: none;
}